spring:
  application:
    name: API-Gateway

server:
  port: 9191

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instances:
    hostname: localhost
